@{
    ViewBag.Title = "Home Page";
}
<h2>FactoryData Client</h2>


<hr />
<div style="background:transparent !important" class="jumbotron">
    <img src="~/Images/relilienceslidenewlogo.jpg" />

</div>